/* ==========================================================================
   BASE STYLE
   ========================================================================== */

html {
    position: relative;
}

body {
    @apply text-gray-800 leading-6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply mb-3 font-bold leading-5;
}

h1 {
    @apply text-3xl;
}

h2 {
    @apply text-2xl;
}

h3 {
    @apply text-xl;
}

h4 {
    @apply text-lg;
}

h5 {
    @apply text-base;
}

h6 {
    @apply text-sm;
}

small,
.small {
    @apply text-sm;
}

p {
    @apply mb-2 leading-6;
}

u,
ins {
    @apply no-underline border-b border-gray-800;

    a {
        color: inherit;
    }
}

del a {
    color: inherit;
}

/* reduce orphans and widows when printing */

p,
pre,
blockquote,
ul,
ol,
dl,
figure,
table,
fieldset {
    orphans: 3;
    widows: 3;
}

/* abbreviations */

abbr[title],
abbr[data-original-title] {
    @apply no-underline cursor-help border-b border-dotted border-gray-800;
}

/* blockquotes */

blockquote {
    @apply my-6 mr-4 px-4 py-2 border-l-4 border-gray-300;

    cite {
        @apply italic;

        &:before {
            @apply pr-2;
            content: "\2014";
        }
    }
}

/* links */

a {
    @apply text-blue-400;

    &:hover {
        @apply text-blue-500 ;
        outline: 0;
    }
}

/* code */

tt,
code,
kbd,
samp,
pre {
    @apply font-mono py-1;
}

p > code,
a > code,
li > code,
figcaption > code,
td > code {
    @apply py-0.5 text-sm text-red-600 bg-gray-200 rounded;
    &:before,
    &:after {
        letter-spacing: -0.2em;
        content: "\00a0"; /* non-breaking space*/
    }
}

p > kbd,
a > kbd,
li > kbd,
figcaption > kbd,
td > kbd {
    @apply py-0.5 text-sm text-white bg-gray-800 rounded;
    &:before,
    &:after {
        letter-spacing: -0.2em;
        content: "\00a0"; /* non-breaking space*/
    }
}

pre {
    @apply p-2 bg-gray-100 border border-gray-300 rounded;
}

/* horizontal rule */

hr {
    @apply block my-4 border-t border-gray-200;
}

/* lists */

ul, ol {
    @apply block my-4 pl-6;
}

ul {
    @apply list-disc;
}

ol {
    @apply list-decimal;
}

ul ul,
ol ol {
    @apply mb-0;
}

ul ul {
    list-style-type: circle;
}

ul li,
ol li {
    @apply mb-2 leading-6;
}

li ul,
li ol {
    @apply mt-2;
}

dl {
    @apply block my-2;

    dt {
        @apply font-bold;
    }

    dd {
        @apply ml-2 italic;
    }
}

/* Tables */

table {
    @apply w-full table-auto border-collapse border border-gray-600;

    th, td, caption {
        @apply border border-gray-600 px-4 py-2;
    }

    caption {
        @apply border-b-0;
    }

    tr:nth-child(2n) {
        @apply bg-gray-100;
    }
}

/* Figures and images */

figure {
    @apply flex justify-between items-start flex-wrap my-1;

    img,
    iframe,
    .fluid-width-video-wrapper {
        @apply my-1;
    }

    img {
        @apply w-full rounded transition-all;
    }

    > a {
        @apply block;
    }
}

/* Figure captions */

figcaption {
    @apply text-gray-500 text-sm;

    a {
        @apply transition-all;
    }
}

/* Fix IE9 SVG bug */

svg:not(:root) {
    overflow: hidden;
}

/* Form inputs */

label,
input {
    @apply block mb-1;
}

label {
    @apply text-sm;
}

input, select, textarea {
    @apply px-3 py-2 bg-white border border-gray-400 rounded w-full;
}

input[type=color] {
    @apply w-14 h-10;
}

fieldset {
    @apply mb-1;
}

legend {
    @apply block w-full pb-1 mb-2 border-b border-gray-300;
}

input[type=radio],
input[type=checkbox] {
    @apply inline w-auto mt-1 ml-1;
}

/* buttons */

button,
input[type=button],
input[type=submit],
input[type=reset] {
    @apply inline w-auto px-3 py-2 border border-gray-400 rounded cursor-pointer bg-gray-100 hover:bg-gray-200;
}

/*
   Global animation transition
   ========================================================================== */

b,
i,
strong,
em,
blockquote,
p,
q,
span,
figure,
img,
h1,
h2,
header,
input,
a,
tr,
td,
form button,
input[type="submit"],
.btn,
.highlight,
.archive__item-teaser {
    @apply transition-all;
}

/*
   Media and embeds
   ========================================================================== */
